# macOS system files
.DS_Store
._*

# Sensitive files
secrets.h

# Local hardware and libraries folders
hardware/
libraries/

# PlatformIO and VSCode
.vscode/
.pio
build/

# Generated source file
Bluetti_ESP32/Bluetti_ESP32.ino.cpp
